.text1{
    text-align: center;
    color: black;
}
/* unvisited link */
.aManage:link {
    color: black;
}

/* visited link */
.aManage:visited {
    color: darkblue;
}

/* mouse over link */
.aManage:hover {
    color: crimson;
}

/* selected link */
.aManage:active {
    color: blue;
}

.body_w {
    display: block;
    min-height: 100%; /* real browsers */
    height: auto !important; /* real browsers */
    height: 100%; /* IE6 bug */
}

.for_admin{
    margin-top: 50%;
}